th,td
{
padding:5px;
}

th
{
text-align:left;
}

/* not a shop */
#message ul, .hero-unit .row {
	margin-left: 0;
}
#message li img, #game-result li img{
	width: 100%;
}
#time, #money {
	font-weight: bold;
}
canvas {
	cursor: pointer;
}

#game-result {
	display: none;
}

#current-catches ul {
	list-style-type: none;
	margin-left: 5px;
}

#current-catches img {
	width: 64px;
	margin-right: 5px;
}

#current-catches .new {
	font-weight: bold;
}