{% extends 'gofish/base.html' %}
{% load static %}

{% block link_block %}
	<script type="text/javascript" src="{% static 'lib/main.js' %}"></script>
{% endblock %}

{% block title %}Game{% endblock %}

{% block body_block %}
	<div class="hero-unit">
		<div class="row">
			<button id="fish" class="span2">Fish!</button>
			<div class="span5">It is <div id="time" style="display:inline"></div> now.</div>
		</div>
		<div id="message"></div>
		<div>Click on the map to travel there!</div>
		<canvas id="world"></canvas>
		<div id="game-result"><div id="info"></div><button id="new-game">New Game</button></div>
	</div>
{% endblock %}
