{% extends 'gofish/base.html' %}
{% load static %}

{% block link_block %}
	<script type="text/javascript" src="{% static 'lib/main.js' %}"></script>
{% endblock %}

{% block title %}Game{% endblock %}

{% block body_block %}
	<div class="hero-unit">
    <h1>Time to fish</h1>
    Suit up<br />

<!-- 	<h2>Ingame screens separated to distinct pages:</h2>
	<p>
		<ul>
			<li><a href="/gofish/shop/" />Shop</a></li>
			<li><a href="/gofish/rankings/" />Rankings</a></li>
			<li><a href="/gofish/trophies/" />Trophies</a></li>
		</ul>
	</p>

	<h2>API calls, doing all work and returning the json results:</h2>
	<p>
		<ul>
			<li><a href="/gofish/api/newgame/" />New Game</a></li>
			<li><a href="/gofish/api/move/" />Move to a different location</a></li>
			<li><a href="/gofish/api/fish/" />Fish!</a></li>
			<li><a href="/gofish/api/change/bait/" />Change the bait</a></li>
			<li><a href="/gofish/api/finish/" />Finish the game</a></li>
		</ul>
	</p> -->

    <canvas id="world"></canvas>
    <button id="fish">Fish!</button>
    <button id="bait-store">Bait Store</button>
    <button id="boat-store">Boat Store</button>	
    <div id="time"></div>
    <div id="message"></div>
    <!-- <div id="fishing-result"></div> -->

	</div>
{% endblock %}