{% extends 'gofish/base.html' %}

{% block title %}Game{% endblock %}

{% block body_block %}
    <h1>Time to fish</h1>
    Suit up<br />

	<h2>Ingame screens separated to distinct pages:</h2>
	<p>
		<ul>
			<li><a href="/gofish/shop/" />Shop</a></li>
			<li><a href="/gofish/rankings/" />Rankings</a></li>
			<li><a href="/gofish/trophies/" />Trophies</a></li>
		</ul>
	</p>

	<h2>API calls, doing all work and returning the json results:</h2>
	<p>
		<ul>
			<li><a href="/gofish/api/newgame/" />New Game</a></li>
			<li><a href="/gofish/api/move/" />Move to a different location</a></li>
			<li><a href="/gofish/api/fish/" />Fish!</a></li>
			<li><a href="/gofish/api/change/bait/" />Change the bait</a></li>
			<li><a href="/gofish/api/buy/bait/" />Buy a bait</a></li>
			<li><a href="/gofish/api/buy/boat/" />Buy a boat</a></li>
			<li><a href="/gofish/api/finish/" />Finish the game</a></li>
		</ul>
	</p>
{% endblock %}