<table>
    {% if inventory and player %}
		<tr>
		  <th>Bait</th>
		  <th>#</th>
          <th>Equip</th> 
		</tr>
        {% for item in inventory %}
                {% if player.bait = item.bait %}
			        <tr>
                    <td>
                        <a href="/gofish/api/change/bait/{{ item.bait.name }}/">
                            <img src="/static/img/baits/{{ item.bait.name }}.gif" alt="{{b.name}}" />
                        </a> 
                    </td>
                    <td>{{ item.amount }}</td>
                    <td>EQUIPPED</td>
                    </tr>
                {% else %}
                    <tr>
                    <td>
                        <a href="/gofish/api/change/bait/{{ item.bait.name }}/">
                            <img src="/static/img/baits/{{ item.bait.name }}.gif" alt="{{b.name}}" />
                        </a> 
                    </td>
                    <td>{{ item.amount }}</td>
                    <td>-</td>
                    </tr>
                {% endif %}
        {% endfor %}
    {% else %}
        <li>Inventory is empty</li>
   {% endif %}
</table>
