{% extends 'gofish/cover_base.html' %}

{% block masthead %}
	{% if user.is_authenticated %}
	<a href="/gofish/game/">Go!Fish</a>
	{% endif %}
{% endblock %}

{% block title %}Rankings{% endblock %}

{% block heading %}There be rankings.{% endblock %}

{% block content %}
	<h2>Top 10 Players</h2>

	{% if top10players %}
		<ol>
			{% for player in top10players %}
			<li>{{ player.user.username }}: {{ player.money }} monies</li>
			{% endfor %}
		</ol>
	{% else %}
		<p class="lead">Well, this is awkward... There appear to be no players.</p>
	{% endif %}
{% endblock %}