<!DOCTYPE html>

<html>
<head>
	<title>Go!Fish</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" /> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
</head>

    <body>
        <h1>There be rankings.</h1>
		
		{% if top10players %}
			<ul>
				{% for player in top10players %}
				<li>{{ player.user.username }}: {{ player.money }} monies</li>
				{% endfor %}
			</ul>
		{% else %}
			Well, this is awkward... There appear to be no players.
		{% endif %}
		
    </body>

</html>
