{% extends 'gofish/cover_base.html' %}

{% block title %}Register{% endblock %}

{% block heading %}Start fishing today{% endblock %}

{% block content %}
	
		<div class="container">
			<form class="form-signin span8" id="user_form" method="post" action="/gofish/register/" enctype="multipart/form-data">

				<h2 class="form-signin-heading">Get started here.</h2>

				{% csrf_token %}
					
				{% for field in user_form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
				{% endfor %}
				
				{% for field in player_form.visible_fields %}
				{{ field.errors }}
				{{ field.help_text }}<br />
				{{ field }}<br />
				{% endfor %}
				
				{% for hidden in player_form.hidden_fields %}
					{{ hidden }}
				{% endfor %}

			    <!-- Provide a button to click to submit the form. -->
				<input class="btn btn-primary" type="submit" name="submit" value="Register"/>
			</form>
		</div>
		
{% endblock %}