{% extends 'gofish/base.html' %}

{% if fail_message %}
	<script>
		alert("{{ fail_message }}");
	</script>
{% endif %}

{% block title %}Game Shop{% endblock %}

{% block body_block %}
	<div class="hero-unit">
	<h1>The Sea Cave</h1>
	
	<h2>Boats</h2>
	{% if boats %}
	
		<table style="width:300px">
		<tr>
		  <th>Boat</th>
		  <th>Price</th> 
		</tr>
		
		
		{% for boat in boats %}
			<tr>
			<td>{{ boat.name }}</td>
			<td>{{ boat.price }}</td>
			{% if player.boat %}
				{% if boat.price < player.boat.price %}
				<td>SOLD</td>
				{% elif boat.price = player.boat.price %}
				<td>EQUIPPED</td>
				{% else %}
				<td>
				<form id="buy_form" method="post" action="/gofish/buy/boat/{{ boat.name }}/">
					{% csrf_token %}
					<button class="btn btn-primary" type="submit">Buy</button>
				</form>
				</td>
				{% endif %}
			{% else %}
				<td>
				<form id="buy_form" method="post" action="/gofish/buy/boat/{{ boat.name }}/">
					{% csrf_token %}
					<button class="btn btn-primary" type="submit">Buy</button>
				</form>
				</td>
			{% endif %}
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>I've misplaced my boats... Come back later, I'll hopefully have found them by then.</p>
	{% endif %}
	
	<h2>Bait</h2>
	{% if bait %}
	
		<table style="width:300px">
		<tr>
		  <th>Bait</th>
		  <th>Price</th> 
		</tr>
			{% for b in bait %}
			<tr>
			<td>{{ b.name }}</td>
			<td>{{ b.price }}</td>
			<td>
			<form id="buy_form" method="post" action="/gofish/buy/bait/{{ b.name }}/">
				{% csrf_token %}
				<button class="btn btn-primary" type="submit">Buy</button>
			</form>
			</td>
			</tr>
			{% endfor %}
		</table>
		
	{% else %}
		<p>There seems to have been a problem with the bait shipment, try shopping again later.</p>
	{% endif %}
	
	<hr>
	
	<h2> Your inventory </h2>
	{% if inventory %}
		<ul>
			{% for item in inventory %}
			<li>{{ item.bait.name }}: {{ item.amount }}</li>
			{% endfor %}
		</ul>
	{% else %}	
		<p>You don't currently own anything.</p>
	{% endif %}
	</div>
{% endblock %}